body {
    background: url('../images/main.jpg') repeat-y 50%;
}


#root {
    width: 700px;
    text-align: justify;
    font: 12px Georgia;
}

#header {
    background: url('../images/banner.jpg') no-repeat;
    text-align: right;
    height: 100px;
    color: #fff;
    font-style: italic;
    padding: 20px 10px 0 0;
}

#header h1, #header h2, #header small {
    padding: 0;
    margin: 0;
}



#status {
    border: 1px solid red;
}

#content {
    border: 1px solid red;
}

#menu {
    border: 1px solid blue;
    float: left;
    width: 200px;
}

#main-content {
    border: 1px solid green;
    float: right;
    width: 490px;
}

.bersih {
    clear: both;
}


#footer {
    border: 1px solid red;
}


